html {
    scroll-behavior: smooth;
}

.body_bg{
  background-image: url("Image/fitness_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

::selection {
  color: #FFFFFF;
  background: rgba(0, 150, 136, 0.9);
}

::-webkit-scrollbar {
  width: 20px;
  margin: 10px;
  color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #009688;
  border: 0.3em solid white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #026C61; 
}


#progress {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
#progress-value {
  display: grid;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #ffffff;
  border-radius: 50%;
  place-items: center;
  font-size: 35px;
  color: #001a2e;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 3px;
    overflow: hidden;
  
}

li{
    float: left;
    margin-left: 10px;
    position: relative;
    font-weight: bold;
}


.fitness_li_a{
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    transition: 0.5s;
}

.fitness_li_a:hover{
  color: #009688;
}

.title {
  font-family: 'Ubuntu', sans-serif;
  margin-left: 7%;
}

.title h1{
    font-size: 70px;
    color: #ffffff;
    
}

.title h3{
  color: #ffffff;
  
}

.title_btn{
  border-radius: 30px;
  background-color: #009688;
  padding: 12px 30px;
  font-style: bold;
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  border: none;
  transition: 0.5s;
}

.title_btn:hover{
  background-color: #24c6b6;
  cursor: pointer;
}

.reminder_box {
  border-radius: 15px;
  position: fixed;
  margin: auto;
  margin-top: -20%;
  margin-left: 35%;
  width: 30%;
  font-family: 'Ubuntu', sans-serif;
  z-index: 1000;
  
}

.reminder_header {
  padding: 20px 10px;
  background: #009688;
  font-size: 30px;
  color: white;
}

.reminder_content {
  padding: 20px;
  background-color: #ccc;
  color: black;
  font-size: 17px;
}

.blur {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #E5E5E5;
  opacity: 0.95;
  z-index: 999;
}

.warm{
  background: #EDEDED;
  position: relative;
  text-transform: uppercase;
  border: 1px solid #009688;
  padding: 10px 0px;
  min-width: 150px;
  margin: 5px;
  cursor: pointer;
  transition: 0.7s; 
  text-decoration: none;
  overflow: hidden;
  z-index: 10;
}

.warm:hover{
  background: #009688;
  color: #FFFFFF;
}

.journey_btn{
  font-size: 15px;
  background-color: #e6e6e6;
  border-style: solid;
  border-width: 10px;
  border-color: #f2f2f2;
  border-radius: 50%;
  margin: 5px 30px;
  padding:  25px 30px; 
  transition: 0.3s;
}

.journey_btn:hover{
  cursor: pointer;
  padding: 27px 32px;
  margin: 3px 28px; 
  color: white;
  background-color: #009688;
}

.hr{
  width: 50%;
  border: 3px solid #b5b5b5;
  background-color: #b5b5b5;
  margin-top: -50px
}

.intro{
  width: 100%;
  padding: 40px 0px;
}

.intro img{
  height: 250px;
  width: auto;
  border-radius: 9px;
  margin-right: -10%;
}

.intro_text{
  width: 540px;
  font-family: 'Ubuntu', sans-serif;
}

.intro_text h1{
  font-size: 70px;
  text-transform: uppercase;
  margin-bottom: 10px
}

.intro_text h5{
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 25px;
  letter-spacing: 1px;
}

.intro_text p{
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 15px;
  margin-bottom: 45px;
}


.main{
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f5f5f5;
  padding: 30px 0px;
}

.dietcontrol_btn {
  text-decoration: none;
  color: blue;
}

.dietcontrol_btn:hover {
  text-decoration: underline;
}

.before{
  background-color: #f5f5f5;
  width: 90%;
  padding: 80px 0px;
  font-family: 'Ubuntu', sans-serif;
}

.before_title h2{
  color: black;
  font-size: 45px;
  width: 1130px;
  margin-top: 5px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s;
}

.before_title h2:hover{
  color: #009688;
  cursor: pointer;
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.card{
  height: 300px;
  width: 250px;
  padding: 50px 35px;
  background: #dedede;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
  cursor: progress;
  transition: 0.5s;
}

.card:hover{
  background: #cccccc;
}

h5{
  color: black;
  font-size: 23px;
  margin-bottom: 15px;
}

.pra p{
  color: black;
  font-size: 14px;
  line-height: 27px;
  margin-bottom: 25px;
  
}
.journey1{
  font-family: 'Ubuntu', sans-serif;
  background-color: #ededed;
  width: 70%;
  padding: 3%;
  border-radius: 30px;
}

.journey1 h3{
  font-size: 15px;
  width: 80%;
  margin-bottom: 4%;
  font-style: italic;
}

.journey1 h1{
  font-size: 35px;
  color: #009688;
  
}


footer {
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 170px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #2b2b2b;
  text-align: center;
}

.icons {
  background-color: #DEDADA;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
  float: left;
  box-shadow: 1px 1px 8px #DEDADA;
}


#icon1 {
  margin-left: 42.5%;
}

  .footer {
    margin-top: 150px;
    width: 100%;
    padding: 30px 0px;
    background: #333;
    color: #efefef;
    font-family: 'Poppins',sans-serif;
  }

  .footer_inside{
    margin-left: 3%;
    display: flex;
    font-family: 'Poppins',sans-serif;
  }

  .footer div{
    text-align: center;
  }

  .column_1{
    margin-right: 5%;
    margin-left: 34%;
  }


  .footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .column_1 a{
    display: block;
    text-decoration: none;
    color: #efefef;
    margin-bottom: 10px;
  }


.sosial_icon{
  margin-top: 10px;
  margin-left: 20px;
}

.maillink {
  text-decoration: none;
  color: #FFFFFF;
}

@media screen and (max-width: 620px) {
  footer div h3{
    font-size-adjust: 0.7;
  }
}

